/*
    Name: Jaron Wang
    Last Updated: December 28, 2018
    Stylesheet for thenightly.net
*/
@import url('https://fonts.googleapis.com/css?family=Orbitron|Questrial');

body {
  font-family: 'Questrial', sans-serif;
  font-size: 125%;
}

.home-title {
font-family: 'Orbitron', sans-serif;
  font-size: 400%;
  color: white;
  margin-bottom: 0;
}

.section-title {
  padding-right: 60px;
  padding-left: 60px;
  font-size: 200%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subtitle {
  font-size: 200%;
  letter-spacing: 5px;
  color:white;
}

.cenX {
    text-align: center;
}

:root {
  --top-navHeight: 110px;
  --scrolledTopHeight: 60px;
}

/*-------------------------Image Manipulations-------------------------------*/
#Name-Button {
  font-family: 'Orbitron', sans-serif;
  font-size: 100%;
}
.home-img {
  /* Image was found at: https://www.flickr.com/photos/phploveme/4041898500*/
  background-image: url(../images/pulsar.jpg);
}

.first-img {
  height: calc(100vh - var(--top-navHeight));
}

.background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.about1 {
  /* Image was found at: https://pxhere.com/en/photo/664820*/
  background-image: url('../images/nebula.jpg');
}
.about2 {
  /* Image Found:  http://staff.washington.edu/paymana/uw_photos.html */
  background-image: url('../images/UW.jpg');
}
.about3 {
  /* Image Found: https://www.flickr.com/photos/otavanopisto/42427999190 */
  background-image: url('../images/AI.jpg');
}
.about4 {
  /* Image found: https://www.flickr.com/photos/158561476@N06/41900335631 */
  background-image:url('../images/FunFacts.jpg');
}
.parallax {
    background-attachment: fixed;
}

/*--------------------------------------------------------------------------*/
.text-separator {
  background-color: white;
  display:flex;
  flex-wrap: wrap;
  padding: 40px 15px 40px 15px;
  margin:auto;
  justify-content: center;
}

.description {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
  flex-wrap: wrap;
}

.full-size {
  height:100vh;
}

.half-size {
  height: 35vh;
}

.title-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:white;
}
.title-container h1 {
  margin-top: 0;
}



body {
  margin:0;
}

body, html {
    height: 100%;
}

a {
  text-decoration: none;
  color: purple;
}

li a:hover {
  color: blue;
  transition: color 0.15s;
}

.me {
  background-image: url('../images/Me.jpg');
  background-position: center;
  height: 150px;
  width: 150px;
  border-radius: 150px;
}

.hidden {
  display: none;
}

#Selection-Bar{
  
}
