/*
    Name: Jaron Wang
    Last Updated: December 28, 2018
    Stylesheet for thenightly.net
*/
@import url('https://fonts.googleapis.com/css?family=Orbitron|Questrial');

body {
  font-family: 'Questrial', sans-serif;
  font-size: 125%;
}

.home-title {
font-family: 'Orbitron', sans-serif;
  font-size: 400%;
  color: white;
  margin-bottom: 0;
}

.section-title {
  padding-right: 60px;
  padding-left: 60px;
  font-size: 200%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display:none;
}

.subtitle {
  font-size: 200%;
  letter-spacing: 5px;
  color:white;
}

.cenX {
    text-align: center;
}

:root {
  --top-navHeight: 110px;
  --scrolledTopHeight: 60px;
}

/*-------------------------Image Manipulations-------------------------------*/
#Name-Button {
  font-family: 'Orbitron', sans-serif;
  font-size: 100%;
}
.home-img {
  /* Image was found at: https://www.flickr.com/photos/phploveme/4041898500*/
  background-image: url(../images/pulsar.jpg);
}

.first-img {
  height: calc(100vh - var(--top-navHeight));
}

.background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.about1 {
  /* Image was found at: https://pxhere.com/en/photo/664820*/
  background-image: url('../images/nebula.jpg');
}
.about2 {
  /* Image Found:  http://staff.washington.edu/paymana/uw_photos.html */
  background-image: url('../images/UW.jpg');
}
.about3 {
  /* Image Found: https://www.flickr.com/photos/otavanopisto/42427999190 */
  background-image: url('../images/AI.jpg');
}
.about4 {
  /* Image found: https://www.flickr.com/photos/158561476@N06/41900335631 */
  background-image:url('../images/FunFacts.jpg');
}
.parallax {
    background-attachment: fixed;
}

/*--------------------------------------------------------------------------*/
.text-separator {
  background-color: white;
  display:flex;
  flex-wrap: wrap;
  padding: 40px 15px 40px 15px;
  margin:auto;
  justify-content: center;
}

.description {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
  flex-wrap: wrap;
}

.photo {
  background-image: url('../images/Me.jpg');
  background-position: center;
  background-repeat: no-repeat;
  min-height: 300px;
  flex: 0 0 33.333333%;
  max-width: 33.333333%%;

}

/*---------------------------Navigation Bar----------------------------------*/

.top-nav-container {
  transition: background-color .5s ease 0s;
  transition: height .5s, line-height .5s;
  width: 100%;
  position: fixed;
  height:var(--top-navHeight);
  padding-left: 2%;
  display:flex;
  align-items: center;
}

.top-nav {
  list-style: none;
  overflow: hidden;
  width: 100%;
  z-index: 1000;
  display:flex;
  justify-content: space-between;
  align-items: baseline;
}

.nav-button{
    float:left;
    color: white;
    padding: 14px 16px;
    transition: background-color 0.1s;
    transition: color 0.1s;
}

.scrolled-nav {
  height: var(--scrolledTopHeight);
  background-color: white;
}

.scrolled-nav .nav-button {
  color:black;
}

.scrolled-nav .nav-button:hover {
  background-color: rgba(128,128,128, 0.8);
}

.half-size {
  height: 35vh;
}
.top-nav-container + * {
  padding-top: var(--top-navHeight);
}


.nav-button:hover{
    background-color: rgba(128,128,128, 0.4);
    color: white;
}

#Name-Button:hover{
    background-color: rgba(0, 143, 179, 0.4);
}

.scrolled-nav #Name-Button:hover {
  background-color: rgba(0, 143, 179, 0.8);
  color: white;
}

.scrolled-nav #Name-Button {
  color: rgb(0, 143, 179);
}

#lastbutton {
    margin-right: 4%;
    margin-left: auto;
}

/*--------------------------------------------------------------------------*/
.title-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:white;
}
.title-container h1 {
  margin-top: 0;
}


div {
  display: block;
}


body {
  margin:0;
}

body, html {
    height: 100%;
}

blockquote, ul{
    font-family: 'Slabo 27px', serif;
}

a {
  text-decoration: none;
  color: purple;
}

li a:hover {
  color: blue;
  transition: color 0.15s;
}

.me {
  background-image: url('../images/Me.jpg');
  background-position: center;
  height: 150px;
  width: 150px;
  border-radius: 150px;
}

#footer {
  background-color: rgb(106,106,106);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
