/*
    Name: Jaron Wang
    Date: October 2, 2018
    Section: CSE 154 AE
    This is the css file for all navbar styling on my website.
*/
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Lato');
.homeTitle {
  font-family: 'Lora', serif;
  font-size: 300%;
  color: white;
  margin-bottom: 0;
}

.subTitle {
  font-family: 'Slabo 27px', serif;
  font-size: 30px;
  letter-spacing: 5px;
  color:white;
}
.cenX {
    text-align: center;
}

:root {
  --topNavHeight: 100px;
  --scrolledTopHeight: 50px;
}

/*-------------------------Image Manipulations-------------------------------*/
.homeImg {
  /* Image was found at: https://www.flickr.com/photos/phploveme/4041898500*/
  background-image: url(images/pulsar.jpg);

}

.firstBackground {
  height: calc(100vh - var(--topNavHeight));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:100vh;
}

.backgroundSmall {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:55vh;
}
.about1 {
  /* Image was found at: https://pxhere.com/en/photo/664820*/
  background-image: url('images/nebula.jpg');
}
.about2 {
  /* Image Found:  http://staff.washington.edu/paymana/uw_photos.html */
  background-image: url('images/UW.jpg');
}
.about3 {
  /* Image Found: https://www.flickr.com/photos/otavanopisto/42427999190 */
  background-image: url('images/AI.jpg');
}
.about4 {
  /* Image found: https://www.flickr.com/photos/158561476@N06/41900335631 */
  background-image:url('images/FunFacts.jpg');
}
.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*--------------------------------------------------------------------------*/
.textSeperator {
  background-color: white;
  display:flex;
  flex-wrap: wrap;
  padding: 40px 15px 40px 15px;
  margin:auto;
  justify-content: center;
}
.description {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
  flex-wrap: wrap;
}
.photo {
  background-image: url('images/Me.jpg');
  background-position: center;
  background-repeat: no-repeat;
  min-height: 300px;
  flex: 0 0 33.333333%;
  max-width: 33.333333%%;

}
p, aside {
  font-size: 120%;
  font-family: 'Lato', sans-serif;
  line-height: 150%;
}
.doubleList {
  flex: 0 0 50%;
  max-width: 50%;
  flex-wrap: wrap;
  padding-left: 20px;
  flex-direction: row;
  line-height: 150%;
}


/*---------------------------Navigation Bar----------------------------------*/
.topNav {
  list-style: none;
  overflow: hidden;
  width: 100%;
  z-index: 1000;
  background-color: transparent;
  position: fixed;
  transition: background-color 1s ease 0s;
  transition: height .5s, line-height .5s;
  height:var(--topNavHeight);
  padding-left: 2%;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.navButton{
    float:left;
    color: white;
    padding: 14px 16px;
    font-size: 125%;
    text-decoration: none;
    font-family:monospace;
    transition: background-color 0.2s;
    transition: color 0.2s;
}

.scrolled-topNav {
  height: var(--scrolledTopHeight);
  background-color: white;
}

.scrolled-topNav > .navButton {
  color:black;
}
.scrolled-topNav > .navButton:hover {
  background-color: rgb(128,128,128, 0.8);
}

.topNav + * {
  padding-top: var(--topNavHeight);
}

.sideNav {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  top: calc(50% - 94px);
  right: 10px;
  z-index: 1000;
  position:fixed;
  display:flex;
  flex-direction: column;
  transition: background-color 1s;
  border-radius: 30px 30px 30px 30px;
}

.sideNav:hover > .navButton {
  color:black;
}

.sideNav:hover {
  background-color: white;
  box-shadow: 1px 1px;

}

.navButton:hover{
    background-color: rgb(128,128,128, 0.4);
    color: white;
}

#NameButton:hover{
    background-color: rgb(0, 143, 179, 0.4);
}

.scrolled-topNav > #NameButton:hover {
  background-color: rgb(0, 143, 179, 0.8);
  color: white;
}


.scrolled-topNav > #NameButton {
  color: rgb(0, 91, 161);
}


#lastbutton {
    margin-right: 4%;
    margin-left: auto;
}

/*--------------------------------------------------------------------------*/
.titleContainer {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:white;
}

div {
  display: block;
}

.white {
  color: white;
}

body {
  margin:0;
}
strong {
  font-style: italic;
}
body, html {
    height: 100%;

}
blockquote, ul{
    font-family: 'Slabo 27px', serif;
}
li a {
  text-decoration: none;
  color: purple;
}
li a:hover {
  color: blue;
  transition: color 0.2s;
}
button {
  background-color: rgb(0,0,0,0);
  box-shadow: none;
  border: 0;
}
.me {
  background-image: url('images/Me.jpg');
  background-position: center;
  height: 150px;
  width: 150px;
  border-radius: 150px;
}
#footer {
  background-color: purple;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
