/*
    Name: Jaron Wang
    Date: October 2, 2018
    Section: CSE 154 AE
    This is the css file for all navbar styling on my website.
*/
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Lora');
.homeTitle {
  font-family: 'Lora', serif;
  font-size: 300%;
  color: white;
}

.subTitle {
  font-family: 'Slabo 27px', serif;
  font-size: 30px;
  letter-spacing: 5px;
  color:white;
}
.cenX {
    text-align: center;
}

:root {
  --topNavHeight: 100px;
  --scrolledTopHeight: 50px;
}
/*-------------------------Image Manipulations-------------------------------*/
.homeImg {
  /* Image was found at: https://www.newsweek.com/mystery-space-signal-low-frequency-fast-radio-burst-spotted-first-time-1055622*/
  background-image: url(images/pulsar.jpg);

}

.firstBackground {
  height: calc(100vh - var(--topNavHeight));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:100vh;
}

.about1 {
  /* Image was found at: https://www.spacetelescope.org/news/heic1808/*/
  background-image: url(http://cdn.spacetelescope.org/archives/images/screen/heic1808a.jpg);
}
.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*--------------------------------------------------------------------------*/
.textSeperator {
  
}
/*---------------------------Navigation Bar----------------------------------*/
.topNav {
  list-style: none;
  overflow: hidden;
  width: 100%;
  z-index: 1000;
  background-color: transparent;
  position: fixed;
  transition: background-color 1s ease 0s;
  transition: height .5s, line-height .5s;
  height:var(--topNavHeight);
  padding-left: 2%;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.navButton{
    float:left;
    color: white;
    padding: 14px 16px;
    font-size: 125%;
    text-decoration: none;
    font-family:monospace;
    transition: background-color 0.2s;
    transition: color 0.2s;
}

.scrolled-topNav {
  height: var(--scrolledTopHeight);
  background-color: white;
}

.scrolled-topNav > .navButton {
  color:black;
}

.topNav + * {
  padding-top: var(--topNavHeight);
}

.sideNav {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  top: calc(50% - 94px);
  right: 10px;
  z-index: 1000;
  position:fixed;
  display:flex;
  flex-direction: column;
  transition: background-color 1s;
}

.sideNav:hover > .navButton {
  color:black;
}

.sideNav:hover {
  background-color: white;
}

.navButton:hover{
    background-color: rgb(128,128,128, 0.4);
    color: white;
}

#NameButton:hover{
    background-color: rgb(0, 143, 179, 0.4);
}

.scrolled-topNav > #NameButton {
  color: rgb(0, 91, 161);
}


#lastbutton {
    margin-right: 4%;
    margin-left: auto;
}

/*--------------------------------------------------------------------------*/
.footer {
  bottom: 0;
  width: 100%;
}

.container {
  position:absolute;
  top:50%;
  width:100%;
  text-align: center;
}

div {
  display: block;
}

h1 {
  font-size: 100%;
}

.white {
  color: white;
}

body {
  margin:0;
}
strong {
  font-size: 140%;
}
body, html {
    height: 100%;
}
