/*
    Name: Jaron Wang
    Date: October 2, 2018
    Section: CSE 154 AE
    This is the css file for all navbar styling on my website.
*/
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Lora');
.titleMain {
  font-family: 'Lora', serif;
  font-size: 250%;
  color: white;
}

.subTitle {
  font-family: 'Slabo 27px', serif;
  font-size: 30px;
  letter-spacing: 5px;
  color:white;
}

.space {
  background-image: url(https://media.wired.com/photos/5a593a7ff11e325008172bc2/master/pass/pulsar-831502910.jpg);
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 500px;
}

.space2 {
  background-image: url(http://cdn.spacetelescope.org/archives/images/screen/heic1808a.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

#wip{
  background-image: url(https://www.si.edu/sites/default/files/newsdesk/press_releases/the_sun.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  height:100%;

}

.cenX {
    text-align: center;
}

.topNav {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  top: 20;
  width: 100%;
  z-index: 1000;
  position:fixed;
}



.navButton{
    float:left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-size: 125%;
    text-decoration: none;
    font-family:monospace;
}

#NameButton{
    color: white;
    background-color: #008fb3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

.navButton:hover{
    background-color: white;
    color: black;
}

#lastbutton {
  float: right;
}

.footer {
  bottom: 0;
  width: 100%;
}
.container {
  width: 100%;
  height: 500px;
  max-height: 500px;
  display:flex;
  justify-content: center;
  align-items: center;
}
div {
  display: block;
}

h1 {
  font-size: 100%;
}

.white {
  color: white;
}

body {
  margin:0;
}

strong {
  font-size: 140%;
}


#AboutMeBar {
  display: flex;
  justify-content: flex-end;
  display:run-in;
}
